<nav class="navbar navbar-expand-lg navbar-light bg-info">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse ml-5" id="navbarScroll">
    <ul class="navbar-nav mr-auto my-2 my-lg-0 navbar-nav-scroll" style="max-height: 100px;">
      <li class="nav-item" style="margin-left: 250px">
        <a class="nav-link " routerLink="/" data-toggle="dropdown" aria-expanded="false">Home</a>
      </li>
      <li class="nav-item" style="margin-left: 50px">
        <a class="nav-link " routerLink="/employee" aria-expanded="false">Employee</a>
      </li>
      <li class="nav-item" style="margin-left: 50px">

        <a class="nav-link " routerLink="customer" aria-expanded="false">Customer</a>
      </li>

      <li class="nav-item" style="margin-left: 50px">
        <a class="nav-link " href="/services" aria-expanded="false">Service</a>
      </li>

      <li class="nav-item" style="margin-left: 50px">
        <a class="nav-link " href="/contracts" aria-expanded="false">contract</a>
      </li>
      <li class="nav-item" style="margin-left: 50px">
        <a class="nav-link " href="/contractDetails" aria-expanded="false">contract detail</a>
      </li>
    </ul>
  </div>
</nav>
