<table>
  <tr>
    <td>id:</td>
    <td>{{data.id}}</td>
  </tr>
  <tr>
    <td>code:</td>
    <td>{{data.code}}</td>
  </tr>
  <tr>
    <td>name:</td>
    <td>{{data.name}}</td>
  </tr>
  <tr>
    <td>position:</td>
    <td>{{data.position.name}}</td>
  </tr>
  <tr>
    <td>education Degree:</td>
    <td>{{data.educationDegree.name}}</td>
  </tr>
  <tr>
    <td>division:</td>
    <td>{{data.division.name}}</td>
  </tr>
  <tr>
    <td>birthday:</td>
    <td>{{data.birthday}}</td>
  </tr>
  <tr>
    <td>idCard:</td>
    <td>{{data.idCard}}</td>
  </tr>
  <tr>
    <td>salary:</td>
    <td>{{data.salary}}</td>
  </tr>
  <tr>
    <td>phone:</td>
    <td>{{data.phone}}</td>
  </tr>
  <tr>
    <td>email:</td>
    <td>{{data.email}}</td>
  </tr>
  <tr>
    <td>address:</td>
    <td>{{data.address}}</td>
  </tr>
</table>
